#muur {
    width: 500px;
    height: 300px;
    background-color: #d9d9d9;
}
.steen{
    background-color: orange;
    height: 25px;
    display: inline-block;
}

#steen1 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;

}

#steen2 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen3 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen4 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen5 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}

.rij {
    display: flex;
    margin-bottom: 5px;
}

#steen6 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen7 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen8 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen8 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen9 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen10 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}

#steen11 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}

#steen12 {
    background-color: rgb(225, 160, 28);
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;

}

#steen13 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen14 {
    background-color: rgb(255, 166, 0);
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen15 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}

#steen16 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;

}

#steen17 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}

#steen18 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;

}

#steen19 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen20 {
    background-color: rgb(232, 155, 0);
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen21 {
    background-color: rgb(255, 197, 24);
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen22 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;

}

#steen23 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen23 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen24 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen25 {
    background-color: rgb(255, 191, 0);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}




#steen26 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen27 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen28 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen29 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen30 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen31 {
    background-color:orange;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}

#steen32 {
    background-color: rgb(201, 136, 15);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}

#steen33 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;

}

#steen34 {
    background-color: rgb(255, 179, 0);
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen35 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen36 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}

#steen37 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;

}

#steen38 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;
}

#steen39 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;

}

#steen40 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen41 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen42 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}

#steen43 {
    background-color: rgb(255, 161, 10);
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}

#steen44 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}

#steen45 {
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;
}
#steen46{
    background-color: orange;
    width: 100px;
    height: 25px;
    display: inline-block;

    margin-right: 5px;}
    #steen47 {
        background-color: orange;
        width: 100px;
        height: 25px;
        display: inline-block;
    
        margin-right: 5px;}
        #steen47 {
            background-color: orange;
            width: 100px;
            height: 25px;
            display: inline-block;
        
            margin-right: 5px;}
            #steen48 {
                background-color: orange;
                width: 100px;
                height: 25px;
                display: inline-block;
            
                margin-right: 5px;}#steen49 {
                    background-color: orange;
                    width: 100px;
                    height: 25px;
                    display: inline-block;
                
                    margin-right: 5px;}
                    #steen50 {
                        background-color: orange;
                        width: 100px;
                        height: 25px;
                        display: inline-block;
                    
                        margin-right: 5px;}
                        #steen51{
                            background-color: orange;
                            width: 100px;
                            height: 25px;
                            display: inline-block;
                        
                            margin-right: 5px;} #steen52 {
                                background-color: orange;
                                width: 100px;
                                height: 25px;
                                display: inline-block;
                            
                                margin-right: 5px;} #steen53 {
                                    background-color: orange;
                                    width: 100px;
                                    height: 25px;
                                    display: inline-block;
                                
                                    margin-right: 5px;}
                                    #steen54 {
                                        background-color: orange;
                                        width: 100px;
                                        height: 25px;
                                        display: inline-block;
                                    
                                        margin-right: 5px;}
                                        #steen55 {
                                            background-color: orange;
                                            width: 100px;
                                            height: 25px;
                                            display: inline-block;
                                        
                                            margin-right: 5px;}
                                            
                                        
                                
                            
