#muur {
    width: 500px;
    height: 295px;
    background-color: #d9d9d9;
}
.steen{
    background-color: rgb(188, 194, 26);
    height: 25px;
    width: 100px;
    display: inline-block;
    margin-right: 5px;
}
.rij{
    display:flex;
    margin-bottom: 5px;
}
.smaller{
   width: 80px;
}
.geen_cement_rechtes{
    margin-right: 0px;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  position: absolute;
  top:145px;
  left:190px;
  bottom:-1px;

}

